<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo/logo-color-circle.png">
    <title>Gervase Bot | Home</title>
    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="/static/css/plugins/fontawesome-6.css" as="style">
    <link rel="stylesheet preload" href="/static/css/plugins/unicons.css" as="style">
    <link rel="stylesheet preload" href="/static/css/plugins/swiper.min.css" as="style">
    <link rel="stylesheet preload" href="/static/css/metismenu.css" as="style">
    <link rel="stylesheet preload" href="/static/css/bootstrap.min.css" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="/static/css/style.css" as="style">
</head>

<body class="dark-version">

    <!-- rts header area start -->
    <header class="header-one header--sticky" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-main-wrapper">
                        <a href="/" class="logo">
                            <img src="/static/logo/Gervase Dashboard logo.png" style="max-width: 200px; max-height: 50px;" alt="Gervase">
                        </a>
                        <!-- nav -->
                        <div class="nav-area-main d-xl-block d-lg-block d-md-none d-sm-none d-none">
                            <nav>
                                <ul>
                                    
                                    <li class="has-dropdown mega-menu">
                                        <a class="links-main" href="#">Features</a>
                                        <div class="rts-mega-menu">
                                            <div class="wrapper">
                                                <div class="row g-0">
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/features/moderation">
                                                                    <img src="/static/images/01_1.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Moderation & Management</p>
                                                                        <span></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li><a class="links-main" href="feature.html">Feature</a></li>
                                    <li><a class="links-main" href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        
                        {% if user %}
                        <!-- nav end -->
                        
                        <div class="button-area">
                            <div class="nav-area-main d-xl-block d-lg-block d-md-none d-sm-none d-none">
                                <nav>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a class="cursor-pointer">
                                                <img src="{{ user['icon'] }}" style="max-width: 50px; max-height: 50px; border-radius: 50%; margin-right: 10px;">
                                                <span style="font-weight: 700;">{{ user['name'] }}</span>
                                            </a>
                                            <ul class="submenu">
                                                <li><a href="/account/settings">Settings</a></li>
                                                <li><a href="/support/changelog">Changelogs</a></li>
                                                <li><a href="/support/invite">Support Server</a></li>
                                                <li><a href="/account/logout">logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% else %}
                            <!-- nav end -->
                            <div class="button-area">
                                <a href="/account/login" class="rts-btn btn-blur">Log in</a>
                            </div>

                            <div class="menu-btn d-xl-none d-lg-none d-md-block d-sm-block" id="menu-btn">
                                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect y="14" width="20" height="2" fill="#1F1F25"></rect>
                                    <rect y="7" width="20" height="2" fill="#1F1F25"></rect>
                                    <rect width="20" height="2" fill="#1F1F25"></rect>
                                </svg>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- rts header area end -->


    <!-- open up banner area start -->
    <div class="rts-banner-area-one bg_image--1 bg_image rts-section-gap">
        <div class="container mt--50">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-main-wrapper">
                        <h1 class="title">
                            The best all-in-one<br><span class="txt-rotate">Discord Bot</span>
                        </h1>
                        <p class="disc">
                            Gervase is a easy-to-use Discord bot, that people worldwide trust to manage, entertain, and grow their community.
                        </p>
                        <div class="button-area">
                            <a href="/invite/bot" class="rts-btn btn-primary">Try Gervase</a>
                            <a href="/support/invite" class="rts-btn btn-blur">Support Server</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-mid-img">
              <img src="/static/images/Gervase DASHBOARD.webp" alt="Dashboard" loading="lazy">
          </div>
          
        <div class="usefull-for-ani">
            {% for staf in staff %}
            <a href="{{ staff[staf]['link'] }}">
                <div class="single {{ staff[staf]['type'] }}">
                    <img src="{{ staff[staf]['icon'] }}" alt="img" loading="lazy" style="max-width: 25px; max-height: 25px; border-radius: 50%;">
                    <span>{{ staff[staf]['stat'] }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- open up banner area end -->


    <!-- rts brand area start -->
    <div class="rts-brand-area rts-section-gap">
        <div class="container">
            <div class="row">
                    
                <div class="col-lg-12">
                    <p class="brand-title text-center">Professionals Servers choose Gervase</p>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-lg-12">
                    
                    <div class="brand-area-main-wrapper-one">
                        {% for server in servers %}
                        <div class="single-brand">
                            
                            <a href="{{ servers[server]['invite'] }}"><img src="{{ servers[server]['icon'] }}" style="max-width: 100px !important; max-height: 100px !important; border-radius: 25px;" title="{{ server }}"></a>
                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts brand area end -->


    <!-- rts feature area start -->
    <div class="rts-feature-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <h2 class="title">
                            Whatever you need <br>
                            <span class="colored-text">Gervase</span> has it!
                        </h2>
                        <p class="disc">
                            Below you can view some features of Gervase has!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-lg-12">
                    <!-- single feature area start -->
                    <div class="single-feature-area-start index-feature">
                        <div class="image-area">
                            <img src="/static/images/07_1.png" alt="feature_image" loading="lazy" style="border-radius: 15px;">
                        </div>
                        <div class="featue-content-area">
                            <span class="pre">01</span>
                            <h2 class="title">Advanced Custom  <br>
                                Commands</h2>
                            <p class="disc">
                                Give your server more power by adding unique commands that can carry out tasks automatically, simplify role management, and send pre-written messages. Gervase gives you the ability to write customized commands that meet the specific requirements of your server. Leverage Gervase's customizable command system to improve user experience, save time, and unleash the potential of your server. It's the ideal method for customizing your Discord. Strong bots, such as Gervase, can be intimidating at first!
                            </p>
                            <a href="/invite/bot" class="rts-btn btn-primary"><li class="fa-brands fa-discord"></li> Add to Discord</a>
                        </div>
                    </div>
                    <!-- single feature area end -->
                    <!-- single feature area start -->
                    <div class="single-feature-area-start index-feature bg-red-l">

                        <div class="featue-content-area">
                            <span class="pre">02</span>
                            <h2 class="title">Make Moderation Easier With <br>
                                Gervase Ticketing Feature</h2>
                            <p class="disc">
                                You can handle and expedite user requests, questions, and support tickets in your Discord server with the Gervase bot ticketing plugin. These plugins assist moderators in setting up a specific ticketing system where users can conveniently submit their queries or problems. Users can open tickets by responding to messages or sending commands when they need assistance. The plugin creates a user-only private channel, or thread, and designates it to the relevant mod. Gervase will help maintain an organized moderation workflow, speed up response times, and boost user satisfaction.
                            </p>
                            <a href="/invite/bot" class="rts-btn btn-primary"><li class="fa-brands fa-discord"></li> Add to Discord</a>
                        </div>
                        <div class="image-area">
                            <img src="/static/images/08_1.png" alt="feature_image" loading="lazy" style="border-radius: 15px;">
                            <br>
                            <br>
                            <img src="/static/images/08_2.png" alt="feature_image" loading="lazy" style="border-radius: 15px;">
                        </div>
                    </div>
                    <!-- single feature area end -->
                    <!-- single feature area start -->
                    <div class="single-feature-area-start index-feature bg-blue-l">
                        <div class="image-area">
                            <img src="/static/images/09_1.png" alt="feature_image" loading="lazy" style="border-radius: 15px;">
                            <br>
                            <br>
                            <img src="/static/images/09_2.png" alt="feature_image" loading="lazy" style="border-radius: 15px;">                        </div>
                        <div class="featue-content-area">
                            <span class="pre">03</span>
                            <h2 class="title">Fun Leveling and<br>
                                XP System</h2>
                            <p class="disc">
                                By using our text-based leveling system, which is intended to identify and honor your most engaged members, you may increase the activity level of your server. Yes, it's as if you're integrating a game within the Discord chat client. Gervase allows you to set up roles and channels with exclusive access, giving users who participate in talks on a regular basis extra rights. You can encourage more conversation among your members and create a livelier server community. As users go through the entertaining levels system, encourage involvement, start discussions, and give them a feeling of accomplishment.
                            </p>
                            <a href="/invite/bot" class="rts-btn btn-primary"><li class="fa-brands fa-discord"></li> Add to Discord</a>
                        </div>
                    </div>
                    <!-- single feature area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts feature area end -->

    <!-- PREMIUM GOES HERE -->
    

    <!-- rts faq area stat -->
    <div class="rts-faq-area rts-section-gap bg_faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <h2 class="title">
                            Questions About <span class="colored-text">Gervase</span>? <br>
                            We have Answers!
                        </h2>
                        <p class="disc">
                            please feel free to reach out to us. We are always happy to assist you and provide any additional.
                        </p>
                    </div>
                </div>
            </div>
                    <div class="accordion-area-one">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Gervase?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Gervase is an AI assistant developed by DangerCode, also known as Tornike. Gervase is a Factual Research AI Assistant designed to provide accurate and reliable information. With the use of the DC-1 Model created by DangerCode, Gervase generates prompts and responses based on the available knowledge base. Gervase's primary goal is to be a helpful and reliable resource for users seeking assistance.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What is a prefix and what should I set it to?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Gervase’s prefix is the character(s) that all commands start with. For example, Gervase’s default prefix is ?, so to run a command, you would type ? followed by the command name, like ?help or ?ban. If there is another bot in your server that conflicts with the ? prefix you can change it to another character or combination of up to 5 characters using <b>/moderation prefix</b>. If you don’t know your prefix, you can always find it on the Dashboard page of your server’s dashboard or by running this command: @Gervase help
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        All or some commands are not responding. What do I do?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        If Gervase is online try the following:
<ul>
    <li>
First do @Gervase help to make sure that you’re using the correct prefix.
</li>
<li>
If Gervase does not have the Administrator permission, check if Gervase has the View Channel and Send Messages permissions, as well as Embed Links in that channel.
</li>
<li>
Check whether the command or module you’re trying to use is enabled by doing <b>/bot module manage</b>, or alternatively by heading to your Server Dashboard > Commands. Then search for your command and check whether it’s enabled. If disabled, you can enable them on the dashboard or by doing <b>/bot module manage</b>
</li>
</ul>
If none of these work or if Gervase is offline, please head over to our <a href="/support/invite">Support Server.</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Is Gervase open source?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes, However, only Older Version of gervase is available on Github. We Think that its best to keep the source private to avoid any security breaches.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Does to write long articles?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Once you know your audience, choose a topic that will resonate with them. Look for trending topics in your industry or address common questions or challenges your audience may be facing.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts faq area end -->

    <!-- cta area start -->
    <!-- cta area start -->
    <div class="rts-cta-area rts-section-gapBottom  bg_faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-main-wrapper bg_image" style="border-color: white; border-width: 2px;">
                        <div class="left">
                            <h3 class="title">
                                Ready to level up <br>
                                <span class="colored-text">Your Server</span>?
                            </h3>
                            <a href="/invite/bot" class="rts-btn btn-primary"><li class="fa-brands fa-discord"></li> Add to Discord</a>
                        </div>
                        <div class="right">
                            <img src="/static/images/02_1.png" alt="cta-area">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta area end -->
    <!-- cta area end -->


    <!-- rts footer area start -->
    <div class="rts-footer-area  bg-footer footer-one">
        <div class="container rts-section-gapTop pb--100 pb_sm--30">
            <div class="row">
                <div class="col-lg-12">
                    <!-- footer main wrapper -->
                    <div class="footer-one-main-wrapper">
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized left-logo">
                            <div class="head">
                                <a href="#">
                                    <img src="/static/logo/Gervase Dashboard Logo.png" alt="logo">
                                </a>
                            </div>
                            <div class="body">
                                <p class="dsic">
                                    The Bot You Need To Moderate and Make Servers Fun as Never been! Using Gervase, You Allow Yourself To Experience Almost Everything That Can Be Done in Discord!
                                </p>
                                <div class="social-style-two">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized">
                            <div class="head">
                                <h6 class="title">Company</h6>
                            </div>
                            <div class="body">
                                <ul class="menu">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/community">Community</a></li>
                                    <li><a href="/jobs">Careers</a></li>
                                    <li><a href="/programs/partnerships">Partnership Program</a></li>
                                    <li><a href="/programs/bug-bounty">Bug Bounty Program</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized">
                            <div class="head">
                                <h6 class="title">Other Websites</h6>
                            </div>
                            <div class="body">
                                <ul class="menu">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Help & Support</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">GervaseBots</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized input-area">
                            <div class="head">
                                <h6 class="title">Contact Us</h6>
                            </div>
                            <div class="body">
                                <form action="">
                                    <div class="input-area-fill">
                                        <input type="email" placeholder="Enter Your Email" required="">
                                        <button> Send</button>
                                    </div>
                                </form>
                                <p class="disc">
                                    Need any help? Send us an Email!
                                </p>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                    </div>
                    <!-- footer main wrapper end -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- footer-copyright-area start -->
                    <div class="copy-right-start-two">
                        <p><a href="https://reactheme.com/" target="_blank">Reactheme©</a> 2023. All Rights Reserved.</p>
                        <ul>
                            <li><a href="/legal/tos">Terms</a></li>
                            <li><a href="/legal/pp">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- footer-copyright-area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts footer area end -->



    <div id="anywhere-home" class="">
    </div>

    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>

        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown parent">
                        <a href="#" class="main">Home</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="index.html">Home One</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Home Four</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Home Five</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown parent">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="about.html">About Us</a></li>
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                            <li><a class="mobile-menu-link" href="contact.html">Contact</a></li>
                            <li><a class="mobile-menu-link" href="use-case.html">Use Case</a></li>
                            <li><a class="mobile-menu-link" href="use-case-2.html">Use Case 2</a></li>
                            <li><a class="mobile-menu-link" href="case-details.html">Use Case Details</a></li>
                            <li><a class="mobile-menu-link" href="case-details-2.html">Use Case Details</a></li>
                            <li><a class="mobile-menu-link" href="pricing.html">Pricing</a></li>
                            <li><a class="mobile-menu-link" href="pricing-two.html">Pricing Two</a></li>
                            <li><a class="mobile-menu-link" href="pricing-three.html">Pricing Three</a></li>
                            <li><a class="mobile-menu-link" href="faq.html">FAQ</a></li>
                            <li><a class="mobile-menu-link" href="log-in.html">Log In</a></li>
                            <li><a class="mobile-menu-link" href="registration.html">Registration</a></li>
                            <li><a class="mobile-menu-link" href="reset.html">Reset</a></li>
                            <li><a class="mobile-menu-link" href="404.html">Not Found</a></li>
                            <!-- <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Project Details</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="project-details.html"></a>Project Details</li>
                                    <li><a href="project-details-gallery.html"></a>Project Details Gallery</li>
                                    <li><a href="project-details-vedio.html"></a>Project Details Vedio</li>
                                    <li><a href="project-details-carousel.html"></a>Project Details carousel</li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="feature.html" class="main">Feature</a>
                    </li>
                    <li class="parent">
                        <a href="contact.html" class="main">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="rts-social-style-one pl--20 mt--100">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->


    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts backto top end -->


    <script src="/static/js/jquery.min.js" defer=""></script>
    <script src="/static/js/metismenu.js" defer=""></script>
    <script src="/static/js/bootstrap.min.js" defer=""></script>
    <script src="/static/js/swiper.js" defer=""></script>
    <script src="/static/js/contact.form.js" defer=""></script>
    <script src="/static/js/main.js" defer=""></script>



</body></html>